.q {
    display: grid;
    grid-template-columns: 50% 50%;
}

.q > textarea {
    max-width: 99%;
    min-width: 99%;
}

*[class^='before'], *[class*=' before'] {
    color: red;
}

*[class^='after'], *[class*=' after'] {
    color: blue;
}